.mat-column-_id, .mat-column-tourName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-tourName{
  flex: 0 0 28% !important;
  width:28% !important;
}
.mat-column-country{
  flex: 0 0 18% !important;
  width:18% !important;
}

.mat-column-action {
  flex: 0 0 8% !important;
  width:8% !important;
}

button{outline: none;}
